
header h2{
    margin-left:30px;
    margin-top:0px;
}

.ContenedorFacturas i{
    color:#ff69b4;
    font-size: 30px;
}

.GraficoVentas i{
    color:#ff69b4;
    font-size: 30px;
}

.AccesosRapidos i{
    color:#ff69b4;
    font-size: 30px;
}

.content {
    margin-left:240px;
    padding:20px;
}


.ContenedorFacturas{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    margin-left:280px;
    padding:20px 30px;
}

.TotalFacturas,
.FacturasDia,
.FacturasAnuladas{
    border-left:5px solid #f06292;
    background:#fff;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
    padding:15px;
    border-radius:22px;
    width:300px;
    height: 150px;
    flex:1;
    background-color:rgb(255, 255, 255,0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    margin: -40px 0px 0px -10px;
}

span{
    font-size:34px;
    font-weight:bold;
}

.ContenedorInformacion{
    display:flex;
    gap:50px;
    flex-wrap:wrap;
    align-items:flex-start;
    margin-left:280px;
    padding:10px 30px;
    
}

.GraficoVentas{
    border-left:5px solid #ff69b4;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
    padding:25px;
    border-radius:22px;
    width:450px;
    min-height:320px;
    background-color:rgb(255, 255, 255,0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

img{
    width:100%;
    height:auto;
    object-fit:contain;
}

.AccesosRapidos{
    border-left:5px solid #ff69b4;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
    padding:70px;
    border-radius:22px;
    width:350px; 
    background-color:rgb(255, 255, 255,0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);   
}

.AccesosRapidos h3{
    top
}

.AccesosRapidos ul{
    list-style:none;
    padding:0;
    margin-top:25px;
}

.AccesosRapidos button{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    background:#ff69b4;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
    align-items: center;
    
}

.AccesosRapidos h3{
    margin-top: 0;
    margin-bottom:20px;
    text-align: left;
    
}

.AccesosRapidos button:hover{
    transform:scale(1.02);
}



