/* Estilo de fondo de la página de inicio/login */
body { 
    margin: 0;
    background-image: url(../img/FondoInicio.jpeg);
    background-color: #ffe9f5b2;
    display: flex;
    height: 100vh;
    justify-content: center;   
    align-items: center;
    font-family: Arial, sans-serif;   
   
}

/* ajuste para las imagenes principales[logotipo] */
img {
    height: 250px;
    width: 400px;
}
/* reseteo del box-sizing para que no afecte el ancho de los elementos */
* {
    box-sizing: border-box;
}
/*estilo para el icono de sesion */
.iconoSesion {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    color: #ff69b4;
}
/*detalles del icono de sesion */
.iconoSesion i {
    padding: 10px;
    font-size: 70px;
}
/*contenedor principal[organiaza]*/
.Inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/*espacio y tamaño para el logo */
.LogoInicio {
    width: 250px; 
    margin-bottom: 20px;
}
/*manejo del campo de texto y posion de los iconos*/
.input-box {
    position: relative;
    margin: 15px 0;
}
/*posion de los iconos dentro del campo de texto */
.input-box i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}
/*estilo visual de los campos */
.input-box input {
    width: 100%;
    padding: 12px 12px 12px 42px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}
/*definicion del color de fondo, bordes y ancho fijo  */
.sesion {
    position: relative;

    background: rgba(255, 255, 255, 0.25);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 420px;

    border: 1px solid rgba(255,255,255,0.3);

    box-shadow: 0 8px 32px rgba(0,0,0,0.1);
}
/*color del titulo principal dentro del formulario*/
.sesion h1 {
    color: #333;
}  
/*boton de envio[color de fondo y diseño de pantalla]*/
.sesion button {
    width: 100%;
    padding: 10px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*efecto visual */
.sesion button:hover {
    background-color: #ff4fa3;
}
/*estilo para el boton de acceso[login]*/
.btn-login {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #ff69b4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}