body { 
    margin: 0;
    background-color: #ffe9f5b2;
    display: flex;
    height: 100vh;
    justify-content: center;   
    align-items: center;
    font-family: Arial, sans-serif;
    
}

img {
    height: 250px;
    width: 400px;
}

* {
    box-sizing: border-box;
}

.iconoSesion {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    color: #ff69b4;
}

.iconoSesion i {
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    font-size: 70px;
}


.Inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.LogoInicio {
    width: 250px; 
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin: 15px 0;
}

.input-box i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

.input-box input {
    width: 100%;
    padding: 12px 12px 12px 42px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.sesion {
    position: relative;
    background: rgba (255,255,255,0.12);
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 420px;

}

.sesion h1 {
    color: #333;
}



.sesion button {
    width: 100%;
    padding: 10px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sesion button:hover {
    background-color: #ff4fa3;
}

.btn-login {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #ff69b4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}