<div class="SideBar">
    <h1>MENÚ</h1>
    <ul>
        <li><a href="../pages/Dashboard.html"><i class="fa-solid fa-house-chimney"></i> Dashboard</a></li>
        <li><a href="../pages/inventario.html"><i class="fa-solid fa-boxes-stacked"></i> Inventario</a></li>
        <li><a href="../pages/facturacion.html"><i class="fa-solid fa-cart-shopping"></i> Ventas</a></li>
        <li><a href="#"><i class="fa-solid fa-list"></i> Reportes</a></li>
        <li><a href="../pages/clientes.html"><i class="fa-solid fa-users"></i> Clientes</a></li>
        <li><a href="#"><i class="fa-solid fa-user"></i> Usuarios</a></li>
        <li><a href="#"><i class="fa-solid fa-gear"></i> Configuración</a></li>
        <li><a href="../pages/login.html"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a></li>
    </ul>
</div>