 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <div class = "SideBar">
        <h1>MENÚ</h1>
        <ul>
            <li><a href="../pages/Dashboard.html">Dashboard</a></li>
            <li><i class="fa-regular fa-chart-bar"></i><a href="#">Inventario</a></li>
            <li><i class="fa-regular fa-chart-bar"></i><a href="#">Ventas</a></li>
            <li><i class="fa-regular fa-chart-bar"></i><a href="#">Reportes</a></li>
            <li><i class="fa-regular fa-chart-bar"></i><a href="../pages/clientes.html">Clientes</a></li>
            <li><i class="fa-solid fa-user"></i><a href="#">Usuarios</a></li>
            <li><i class="fa-solid fa-gear"></i><a href="#">Configuración</a></li>
            <li><i class="fa-solid fa-gear"></i><a href="#">Salir sesión</a></li>
        </ul>
    </div>
