USE [ApparelWeb]
GO
/****** Object:  StoredProcedure [dbo].[StockActual]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP PROCEDURE [dbo].[StockActual]
GO
/****** Object:  StoredProcedure [dbo].[sp_VerUsuarioPorID]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP PROCEDURE [dbo].[sp_VerUsuarioPorID]
GO
/****** Object:  StoredProcedure [dbo].[sp_VerProductoPorID]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP PROCEDURE [dbo].[sp_VerProductoPorID]
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUsuario]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP PROCEDURE [dbo].[sp_LoginUsuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsetarCompra]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP PROCEDURE [dbo].[sp_InsetarCompra]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarUsuario]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP PROCEDURE [dbo].[sp_InsertarUsuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertartarDetalleCompra]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP PROCEDURE [dbo].[sp_InsertartarDetalleCompra]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarProducto]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP PROCEDURE [dbo].[sp_InsertarProducto]
GO
/****** Object:  StoredProcedure [dbo].[sp_insertarmovimientoinventario]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP PROCEDURE [dbo].[sp_insertarmovimientoinventario]
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarUsuario]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP PROCEDURE [dbo].[sp_EliminarUsuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProducto]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP PROCEDURE [dbo].[sp_EliminarProducto]
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarUsuario]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP PROCEDURE [dbo].[sp_AgregarUsuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuario]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP PROCEDURE [dbo].[sp_ActualizarUsuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarProducto]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP PROCEDURE [dbo].[sp_ActualizarProducto]
GO
ALTER TABLE [dbo].[Venta] DROP CONSTRAINT [FK__Venta__CodUsuari__6A30C649]
GO
ALTER TABLE [dbo].[Venta] DROP CONSTRAINT [FK__Venta__CodClient__693CA210]
GO
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [FK__Usuario__CodRol__68487DD7]
GO
ALTER TABLE [dbo].[Talla] DROP CONSTRAINT [FK_Talla_Producto]
GO
ALTER TABLE [dbo].[Sesiones] DROP CONSTRAINT [FK__Sesiones__IdUsua__6BAEFA67]
GO
ALTER TABLE [dbo].[Producto] DROP CONSTRAINT [FK__Producto__CodCat__6754599E]
GO
ALTER TABLE [dbo].[Inventario] DROP CONSTRAINT [fk_inventario_proveedor]
GO
ALTER TABLE [dbo].[Inventario] DROP CONSTRAINT [fk_inventario_producto]
GO
ALTER TABLE [dbo].[Inventario] DROP CONSTRAINT [fk_inventario_devolucion]
GO
ALTER TABLE [dbo].[Inventario] DROP CONSTRAINT [fk_inventario_compra]
GO
ALTER TABLE [dbo].[Factura] DROP CONSTRAINT [FK__Factura__CodDevo__3E1D39E1]
GO
ALTER TABLE [dbo].[Devolucion] DROP CONSTRAINT [FK__Devolucio__CodFa__662B2B3B]
GO
ALTER TABLE [dbo].[Devolucion] DROP CONSTRAINT [FK__Devolucio__CodCl__628FA481]
GO
ALTER TABLE [dbo].[DetalleVenta] DROP CONSTRAINT [FK__DetalleVe__codVe__6E01572D]
GO
ALTER TABLE [dbo].[DetalleVenta] DROP CONSTRAINT [FK__DetalleVe__Codig__6D0D32F4]
GO
ALTER TABLE [dbo].[DetalleCompra] DROP CONSTRAINT [FK_DetalleCompra_Producto]
GO
ALTER TABLE [dbo].[DetalleCompra] DROP CONSTRAINT [FK_DetalleCompra_Compras]
GO
ALTER TABLE [dbo].[BitacoraLogin] DROP CONSTRAINT [FK__BitacoraL__IdUsu__67DE6983]
GO
ALTER TABLE [dbo].[Sesiones] DROP CONSTRAINT [DF__Sesiones__FechaI__6ABAD62E]
GO
ALTER TABLE [dbo].[Inventario] DROP CONSTRAINT [DF__Inventari__fecha__40C49C62]
GO
ALTER TABLE [dbo].[Factura] DROP CONSTRAINT [DF__Factura__Fecha__3C34F16F]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Venta]') AND type in (N'U'))
DROP TABLE [dbo].[Venta]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
DROP TABLE [dbo].[Usuario]
GO
/****** Object:  Table [dbo].[Talla]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Talla]') AND type in (N'U'))
DROP TABLE [dbo].[Talla]
GO
/****** Object:  Table [dbo].[Sesiones]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sesiones]') AND type in (N'U'))
DROP TABLE [dbo].[Sesiones]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proveedores]') AND type in (N'U'))
DROP TABLE [dbo].[Proveedores]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Producto]') AND type in (N'U'))
DROP TABLE [dbo].[Producto]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Inventario]') AND type in (N'U'))
DROP TABLE [dbo].[Inventario]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Factura]') AND type in (N'U'))
DROP TABLE [dbo].[Factura]
GO
/****** Object:  Table [dbo].[Devolucion]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Devolucion]') AND type in (N'U'))
DROP TABLE [dbo].[Devolucion]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DetalleVenta]') AND type in (N'U'))
DROP TABLE [dbo].[DetalleVenta]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DetalleCompra]') AND type in (N'U'))
DROP TABLE [dbo].[DetalleCompra]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Compras]') AND type in (N'U'))
DROP TABLE [dbo].[Compras]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cliente]') AND type in (N'U'))
DROP TABLE [dbo].[Cliente]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Categoria]') AND type in (N'U'))
DROP TABLE [dbo].[Categoria]
GO
/****** Object:  Table [dbo].[BitacoraLogin]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BitacoraLogin]') AND type in (N'U'))
DROP TABLE [dbo].[BitacoraLogin]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 30/04/2026 10:17:37 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bitacora]') AND type in (N'U'))
DROP TABLE [dbo].[Bitacora]
GO

DECLARE @RoleName sysname
set @RoleName = N'RolVentas'

IF @RoleName <> N'public' and (select is_fixed_role from sys.database_principals where name = @RoleName) = 0
BEGIN
    DECLARE @RoleMemberName sysname
    DECLARE Member_Cursor CURSOR FOR
    select [name]
    from sys.database_principals 
    where principal_id in ( 
        select member_principal_id
        from sys.database_role_members
        where role_principal_id in (
            select principal_id
            FROM sys.database_principals where [name] = @RoleName AND type = 'R'))

    OPEN Member_Cursor;

    FETCH NEXT FROM Member_Cursor
    into @RoleMemberName
    
    DECLARE @SQL NVARCHAR(4000)

    WHILE @@FETCH_STATUS = 0
    BEGIN
        
        SET @SQL = 'ALTER ROLE '+ QUOTENAME(@RoleName,'[') +' DROP MEMBER '+ QUOTENAME(@RoleMemberName,'[')
        EXEC(@SQL)
        
        FETCH NEXT FROM Member_Cursor
        into @RoleMemberName
    END;

    CLOSE Member_Cursor;
    DEALLOCATE Member_Cursor;
END
/****** Object:  DatabaseRole [RolVentas]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP ROLE [RolVentas]
GO

DECLARE @RoleName sysname
set @RoleName = N'RolAdmin'

IF @RoleName <> N'public' and (select is_fixed_role from sys.database_principals where name = @RoleName) = 0
BEGIN
    DECLARE @RoleMemberName sysname
    DECLARE Member_Cursor CURSOR FOR
    select [name]
    from sys.database_principals 
    where principal_id in ( 
        select member_principal_id
        from sys.database_role_members
        where role_principal_id in (
            select principal_id
            FROM sys.database_principals where [name] = @RoleName AND type = 'R'))

    OPEN Member_Cursor;

    FETCH NEXT FROM Member_Cursor
    into @RoleMemberName
    
    DECLARE @SQL NVARCHAR(4000)

    WHILE @@FETCH_STATUS = 0
    BEGIN
        
        SET @SQL = 'ALTER ROLE '+ QUOTENAME(@RoleName,'[') +' DROP MEMBER '+ QUOTENAME(@RoleMemberName,'[')
        EXEC(@SQL)
        
        FETCH NEXT FROM Member_Cursor
        into @RoleMemberName
    END;

    CLOSE Member_Cursor;
    DEALLOCATE Member_Cursor;
END
/****** Object:  DatabaseRole [RolAdmin]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP ROLE [RolAdmin]
GO
/****** Object:  User [UsuarioVentas]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP USER [UsuarioVentas]
GO
/****** Object:  User [UsuarioAdministrador]    Script Date: 30/04/2026 10:17:37 p. m. ******/
DROP USER [UsuarioAdministrador]
GO
/****** Object:  User [UsuarioAdministrador]    Script Date: 30/04/2026 10:17:37 p. m. ******/
CREATE USER [UsuarioAdministrador] FOR LOGIN [UsuarioAdministrador] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [UsuarioVentas]    Script Date: 30/04/2026 10:17:37 p. m. ******/
CREATE USER [UsuarioVentas] FOR LOGIN [UsuarioVentas] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [RolAdmin]    Script Date: 30/04/2026 10:17:37 p. m. ******/
CREATE ROLE [RolAdmin]
GO
/****** Object:  DatabaseRole [RolVentas]    Script Date: 30/04/2026 10:17:37 p. m. ******/
CREATE ROLE [RolVentas]
GO
ALTER ROLE [RolVentas] ADD MEMBER [UsuarioVentas]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 30/04/2026 10:17:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](100) NULL,
	[Fecha] [datetime] NULL,
	[Accion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BitacoraLogin]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraLogin](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[FechaHora] [datetime] NULL,
	[Accion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[CodigoCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NULL,
	[Descripcion] [varchar](max) NULL,
	[Estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[CodCliente] [int] IDENTITY(1,1) NOT NULL,
	[NumeroCompra] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[NumeroTelefono] [int] NULL,
	[Cedula] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[CodCompra] [int] IDENTITY(1,1) NOT NULL,
	[CodUsuario] [int] NULL,
	[Fecha] [date] NULL,
	[FormaPago] [nvarchar](50) NULL,
	[total] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Compras__47045A2FC5C0E9A9] PRIMARY KEY CLUSTERED 
(
	[CodCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[CodDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[codCompra] [int] NULL,
	[CodigoProducto] [int] NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
	[Subtotal] [decimal](10, 2) NULL,
	[CodigoProvedor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[CodDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[codVenta] [int] NULL,
	[CodigoProducto] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
	[Descuento] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devolucion]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devolucion](
	[CodDevolucion] [int] IDENTITY(1,1) NOT NULL,
	[CodCliente] [int] NULL,
	[CodFactura] [int] NULL,
	[FechaDevolucion] [datetime] NULL,
	[Motivo] [varchar](max) NULL,
	[Solucion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodDevolucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[CodFactura] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Codliente] [int] NOT NULL,
	[CodUsuario] [int] NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NOT NULL,
	[CodVenta] [int] NULL,
	[CodDevolucion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[codinventario] [int] IDENTITY(1,1) NOT NULL,
	[codproducto] [int] NOT NULL,
	[tipomovimiento] [varchar](20) NOT NULL,
	[cantidad] [int] NOT NULL,
	[fechamovimiento] [datetime] NULL,
	[descripcion] [varchar](200) NULL,
	[codcompra] [int] NOT NULL,
	[coddevolucion] [int] NULL,
	[codproveedor] [int] NULL,
	[usuarioresponsable] [nvarchar](100) NULL,
 CONSTRAINT [PK__Inventar__19B195BC3C977AD7] PRIMARY KEY CLUSTERED 
(
	[codinventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[CodigoProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NULL,
	[Descripcion] [varchar](max) NULL,
	[talla] [nvarchar](50) NULL,
	[Marca] [nvarchar](max) NULL,
	[Estado] [int] NULL,
	[CodCategoria] [int] NULL,
	[Precio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[CodigoProveedor] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompañia] [varchar](100) NULL,
	[Dirrecion] [nvarchar](max) NULL,
	[Numerotelefono] [int] NULL,
	[Estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[CodRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sesiones]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesiones](
	[IdSesion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaInicio] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Talla]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Talla](
	[CodTalla] [int] IDENTITY(1,1) NOT NULL,
	[Nombretalla] [nvarchar](100) NULL,
	[CodigoProducto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodTalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[CodUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Apellidos] [nvarchar](max) NULL,
	[UsuarioLogin] [varchar](50) NULL,
	[CodRol] [int] NULL,
	[Contraseña] [nvarchar](max) NULL,
	[Cedula] [nvarchar](max) NULL,
	[estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[CodVenta] [int] IDENTITY(1,1) NOT NULL,
	[CodCliente] [int] NULL,
	[CodUsuario] [int] NULL,
	[FechaVenta] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([IdBitacora], [Usuario], [Fecha], [Accion]) VALUES (1, N'sa', CAST(N'2025-10-04T11:46:20.000' AS DateTime), N'Producto actualizado (CodigoProducto=5, Nombre=zapatos Deportivos)')
INSERT [dbo].[Bitacora] ([IdBitacora], [Usuario], [Fecha], [Accion]) VALUES (2, N'sa', CAST(N'2025-10-07T13:49:52.160' AS DateTime), N'Producto actualizado (CodigoProducto=11, Nombre=Vestido)')
INSERT [dbo].[Bitacora] ([IdBitacora], [Usuario], [Fecha], [Accion]) VALUES (3, N'sa', CAST(N'2025-10-07T13:50:29.493' AS DateTime), N'Producto actualizado (CodigoProducto=10, Nombre=vestido)')
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[BitacoraLogin] ON 

INSERT [dbo].[BitacoraLogin] ([IdBitacora], [IdUsuario], [FechaHora], [Accion]) VALUES (1, 1, CAST(N'2025-11-07T10:13:33.010' AS DateTime), N'Inicio de sesión')
INSERT [dbo].[BitacoraLogin] ([IdBitacora], [IdUsuario], [FechaHora], [Accion]) VALUES (2, 1, CAST(N'2025-11-07T10:28:06.737' AS DateTime), N'Inicio de sesión')
INSERT [dbo].[BitacoraLogin] ([IdBitacora], [IdUsuario], [FechaHora], [Accion]) VALUES (3, 1, CAST(N'2025-11-07T10:45:28.477' AS DateTime), N'Inicio de sesión')
SET IDENTITY_INSERT [dbo].[BitacoraLogin] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([CodigoCategoria], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Zapatos deportivos', N'Calzado para actividad deportiva', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([CodCompra], [CodUsuario], [Fecha], [FormaPago], [total]) VALUES (1, NULL, CAST(N'2025-11-04' AS Date), NULL, CAST(300.00 AS Decimal(10, 2)))
INSERT [dbo].[Compras] ([CodCompra], [CodUsuario], [Fecha], [FormaPago], [total]) VALUES (2, NULL, CAST(N'2025-11-06' AS Date), N'Efectivo', CAST(600.00 AS Decimal(10, 2)))
INSERT [dbo].[Compras] ([CodCompra], [CodUsuario], [Fecha], [FormaPago], [total]) VALUES (3, NULL, CAST(N'2025-11-06' AS Date), N'efectivo', CAST(400.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Compras] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleCompra] ON 

INSERT [dbo].[DetalleCompra] ([CodDetalleCompra], [codCompra], [CodigoProducto], [PrecioUnitario], [Subtotal], [CodigoProvedor]) VALUES (1, 15, 10, CAST(100.00 AS Decimal(10, 2)), CAST(200.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[DetalleCompra] ([CodDetalleCompra], [codCompra], [CodigoProducto], [PrecioUnitario], [Subtotal], [CodigoProvedor]) VALUES (2, 16, 10, CAST(100.00 AS Decimal(10, 2)), CAST(400.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[DetalleCompra] ([CodDetalleCompra], [codCompra], [CodigoProducto], [PrecioUnitario], [Subtotal], [CodigoProvedor]) VALUES (3, 17, 10, CAST(100.00 AS Decimal(10, 2)), CAST(200.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[DetalleCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventario] ON 

INSERT [dbo].[Inventario] ([codinventario], [codproducto], [tipomovimiento], [cantidad], [fechamovimiento], [descripcion], [codcompra], [coddevolucion], [codproveedor], [usuarioresponsable]) VALUES (1, 10, N'entrada', 2, CAST(N'2025-11-06T10:45:32.233' AS DateTime), N'compra registrada', 2, NULL, 1, NULL)
INSERT [dbo].[Inventario] ([codinventario], [codproducto], [tipomovimiento], [cantidad], [fechamovimiento], [descripcion], [codcompra], [coddevolucion], [codproveedor], [usuarioresponsable]) VALUES (2, 10, N'entrada', 2, CAST(N'2025-11-06T10:46:56.510' AS DateTime), N'compra registrada', 2, NULL, 1, NULL)
INSERT [dbo].[Inventario] ([codinventario], [codproducto], [tipomovimiento], [cantidad], [fechamovimiento], [descripcion], [codcompra], [coddevolucion], [codproveedor], [usuarioresponsable]) VALUES (6, 10, N'entrada', 1, CAST(N'2025-11-07T12:02:34.550' AS DateTime), N'compra registrada', 9, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Inventario] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([CodigoProducto], [Nombre], [Descripcion], [talla], [Marca], [Estado], [CodCategoria], [Precio]) VALUES (5, N'zapatos Deportivos', N'Perfectos para correr', N'35', N'Adidas', 1, 1, 400)
INSERT [dbo].[Producto] ([CodigoProducto], [Nombre], [Descripcion], [talla], [Marca], [Estado], [CodCategoria], [Precio]) VALUES (6, N'zapatos', N'zapatos deportivos', N'8', N'adidas', 1, 1, 400)
INSERT [dbo].[Producto] ([CodigoProducto], [Nombre], [Descripcion], [talla], [Marca], [Estado], [CodCategoria], [Precio]) VALUES (7, N'camisa', N'camisa playa', N'0', N'string', 0, 1, 0)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([CodigoProveedor], [NombreCompañia], [Dirrecion], [Numerotelefono], [Estado]) VALUES (1, N'shein', N'del chino 2cuadras al sur', 77706239, 1)
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([CodRol], [NombreRol]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([CodRol], [NombreRol]) VALUES (2, N'Empleado')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sesiones] ON 

INSERT [dbo].[Sesiones] ([IdSesion], [IdUsuario], [FechaInicio]) VALUES (2, 1, CAST(N'2025-11-07T10:13:32.993' AS DateTime))
INSERT [dbo].[Sesiones] ([IdSesion], [IdUsuario], [FechaInicio]) VALUES (3, 1, CAST(N'2025-11-07T10:28:06.733' AS DateTime))
INSERT [dbo].[Sesiones] ([IdSesion], [IdUsuario], [FechaInicio]) VALUES (4, 1, CAST(N'2025-11-07T10:45:28.473' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sesiones] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([CodUsuario], [Nombre], [Apellidos], [UsuarioLogin], [CodRol], [Contraseña], [Cedula], [estado]) VALUES (1, N'edwin', N'calero', N'ed06', 1, N'0Jp8latVIp9Bm1I3ghxoEQ==.5Ekg57wzRvdFIiGAC0k0HQ==', N'498754', NULL)
INSERT [dbo].[Usuario] ([CodUsuario], [Nombre], [Apellidos], [UsuarioLogin], [CodRol], [Contraseña], [Cedula], [estado]) VALUES (2, N'Norling', N'Salinas', N'Nor05', 1, N'zgavjQBk5sTeVUqLhUwmbw==.PNn88B+O8O8JG52OVnpngw==', N'309587389', 0)
INSERT [dbo].[Usuario] ([CodUsuario], [Nombre], [Apellidos], [UsuarioLogin], [CodRol], [Contraseña], [Cedula], [estado]) VALUES (3, N'Fernanda', N'Narvaez', N'Fer05', 1, N'tybVN+1qrpD/qlxVUhhx9A==.4+9Nq+wABFlCWOHhHdukfQ==', N'946478938', NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Inventario] ADD  CONSTRAINT [DF__Inventari__fecha__40C49C62]  DEFAULT (getdate()) FOR [fechamovimiento]
GO
ALTER TABLE [dbo].[Sesiones] ADD  DEFAULT (getdate()) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[BitacoraLogin]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([CodUsuario])
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_Compras] FOREIGN KEY([codCompra])
REFERENCES [dbo].[Compras] ([CodCompra])
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [FK_DetalleCompra_Compras]
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_Producto] FOREIGN KEY([CodigoProducto])
REFERENCES [dbo].[Producto] ([CodigoProducto])
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [FK_DetalleCompra_Producto]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([CodigoProducto])
REFERENCES [dbo].[Producto] ([CodigoProducto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([codVenta])
REFERENCES [dbo].[Venta] ([CodVenta])
GO
ALTER TABLE [dbo].[Devolucion]  WITH CHECK ADD FOREIGN KEY([CodCliente])
REFERENCES [dbo].[Cliente] ([CodCliente])
GO
ALTER TABLE [dbo].[Devolucion]  WITH CHECK ADD FOREIGN KEY([CodFactura])
REFERENCES [dbo].[Factura] ([CodFactura])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([CodDevolucion])
REFERENCES [dbo].[Devolucion] ([CodDevolucion])
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [fk_inventario_compra] FOREIGN KEY([codcompra])
REFERENCES [dbo].[Compras] ([CodCompra])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [fk_inventario_compra]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [fk_inventario_devolucion] FOREIGN KEY([coddevolucion])
REFERENCES [dbo].[Devolucion] ([CodDevolucion])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [fk_inventario_devolucion]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [fk_inventario_producto] FOREIGN KEY([codproducto])
REFERENCES [dbo].[Producto] ([CodigoProducto])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [fk_inventario_producto]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [fk_inventario_proveedor] FOREIGN KEY([codproveedor])
REFERENCES [dbo].[Proveedores] ([CodigoProveedor])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [fk_inventario_proveedor]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([CodCategoria])
REFERENCES [dbo].[Categoria] ([CodigoCategoria])
GO
ALTER TABLE [dbo].[Sesiones]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([CodUsuario])
GO
ALTER TABLE [dbo].[Talla]  WITH CHECK ADD  CONSTRAINT [FK_Talla_Producto] FOREIGN KEY([CodigoProducto])
REFERENCES [dbo].[Producto] ([CodigoProducto])
GO
ALTER TABLE [dbo].[Talla] CHECK CONSTRAINT [FK_Talla_Producto]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([CodRol])
REFERENCES [dbo].[Roles] ([CodRol])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([CodCliente])
REFERENCES [dbo].[Cliente] ([CodCliente])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([CodUsuario])
REFERENCES [dbo].[Usuario] ([CodUsuario])
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarProducto]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarProducto]
    @CodigoProducto INT,
    @Nombre VARCHAR(MAX),
    @Descripcion VARCHAR(MAX),
    @Talla NVARCHAR(50),
    @Marca NVARCHAR(MAX),
    @Estado INT,
    @CodCategoria INT,
	@Precio INT
AS
BEGIN
    UPDATE Producto
    SET Nombre = @Nombre,
        Descripcion = @Descripcion,
        Talla = @Talla,
        Marca = @Marca,
        Estado = @Estado,
        CodCategoria = @CodCategoria,
		Precio = @Precio
    WHERE CodigoProducto = @CodigoProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuario]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_ActualizarUsuario]
    @CodUsuario INT,
    @Nombre NVARCHAR(MAX),
    @Apellidos NVARCHAR(MAX),
    @UsuarioLogin VARCHAR(50),
    @CodRol INT,
    @Contraseña NVARCHAR(MAX),
    @Cedula NVARCHAR(MAX),
	@Estado int 

AS
BEGIN
    UPDATE Usuario
    SET Nombre = @Nombre,
        Apellidos = @Apellidos,
        UsuarioLogin = @UsuarioLogin,
        CodRol = @CodRol,
        Contraseña = @Contraseña,
        Cedula = @Cedula,
		estado = @Estado
  
    WHERE CodUsuario = @CodUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarUsuario]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_AgregarUsuario]
    @Nombre NVARCHAR(MAX),
    @Apellidos NVARCHAR(MAX),
    @UsuarioLogin VARCHAR(50),
    @CodRol INT,
    @Contraseña NVARCHAR(MAX),
    @Cedula NVARCHAR(MAX),
	@Estado int 

AS
BEGIN
    INSERT INTO Usuario (Nombre, Apellidos, UsuarioLogin, CodRol, Contraseña, Cedula, estado)
    VALUES (@Nombre, @Apellidos, @UsuarioLogin, @CodRol, @Contraseña, @Cedula, @Estado);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProducto]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarProducto]
    @CodigoProducto INT
AS
BEGIN
    UPDATE Producto
    SET Estado = 0
    WHERE CodigoProducto = @CodigoProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarUsuario]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarUsuario]
    @CodUsuario INT
AS
BEGIN
    UPDATE Usuario
    SET estado = 0
    WHERE CodUsuario = @CodUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertarmovimientoinventario]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insertarmovimientoinventario]
    @codproducto int,
    @tipomovimiento varchar(20),
    @cantidad int,
    @descripcion varchar(200) = null,
    @coddevolucion int = null,
    @codproveedor int = null,
    @usuarioresponsable nvarchar(100) = null,
    @codcompra int 
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Inventario (codproducto, tipomovimiento, cantidad, descripcion, coddevolucion, codproveedor, usuarioresponsable, codcompra)
    VALUES (@codproducto, @tipomovimiento, @cantidad, @descripcion, @coddevolucion, @codproveedor, @usuarioresponsable, @codcompra);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarProducto]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarProducto]
    @Nombre VARCHAR(MAX),
    @Descripcion VARCHAR(MAX),
    @Talla NVARCHAR(50),
    @Marca NVARCHAR(MAX),
    @Estado INT,
    @CodCategoria INT,
    @Precio DECIMAL(18,2)  -- nuevo parámetro agregado
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Producto (Nombre, Descripcion, Talla, Marca, Estado, CodCategoria, Precio)
    VALUES (@Nombre, @Descripcion, @Talla, @Marca, @Estado, @CodCategoria, @Precio);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertartarDetalleCompra]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertartarDetalleCompra]
    @idcompra int,
    @codigoproducto int,
    @preciounitario decimal(10,2),
    @subtotal decimal(10,2),
    @codigoproveedor int,
    @cantidad int
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY
        INSERT INTO detallecompra (codCompra, CodigoProducto, preciounitario, subtotal, CodigoProvedor)
        VALUES (@idcompra, @codigoproducto, @preciounitario, @subtotal, @codigoproveedor);

        -- registrar movimiento inventario
        EXEC sp_insertarmovimientoinventario 
            @codproducto = @codigoproducto, 
            @tipomovimiento = 'entrada', 
            @cantidad = @cantidad, 
            @descripcion = 'compra registrada', 
            @codproveedor = @codigoproveedor,
			@codcompra = @idcompra;


        COMMIT TRANSACTION;

        -- develbeel ide del detalle insertado
        SELECT SCOPE_IDENTITY() AS IdDetalle;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarUsuario]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarUsuario]
    @Nombre NVARCHAR(max),
    @Apellido NVARCHAR(max),
    @Contrasena NVARCHAR(max),
    @Cedula NVARCHAR(max),
    @CodRol int
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Usuario (Nombre, Apellidos, Contraseña, Cedula, CodRol)
    VALUES (@Nombre, @Apellido, @Contrasena, @Cedula, @CodRol);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsetarCompra]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_InsetarCompra]
@FechaCompra datetime, 
@Total decimal (10, 2),
@FormaPago nvarchar(50) 
as
begin
set nocount on;

insert into Compras (Fecha, total, FormaPago)
values (@FechaCompra, @Total, @FormaPago);

select SCOPE_IDENTITY() as IdCompraInsertada;
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUsuario]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_LoginUsuario]
    @UsuarioLogin nvarchar(60)
as
begin
    set nocount on;

    declare @idusuario int;

    select @idusuario = CodUsuario
    from Usuario
    where UsuarioLogin = @UsuarioLogin;
	   
	   -- insertar en la tabla sesiones y dispara el trigger
    if @idusuario is not null
    begin
        insert into Sesiones (IdUsuario)
        values (@idusuario);

        -- devolver datos del usuario
        select u.CodUsuario, u.Nombre, u.Apellidos, u.UsuarioLogin, u.Contraseña, u.CodRol,
               r.NombreRol as RolNombre
        from Usuario u
        left join Roles r on u.CodRol = r.CodRol
        where u.CodUsuario = @idusuario;
    end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_VerProductoPorID]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VerProductoPorID]
    @CodigoProducto INT
AS
BEGIN
    SELECT *
    FROM Producto
    WHERE CodigoProducto = @CodigoProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VerUsuarioPorID]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VerUsuarioPorID]
    @CodUsuario INT
AS
BEGIN
    SELECT *
    FROM Usuario
    WHERE CodUsuario = @CodUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[StockActual]    Script Date: 30/04/2026 10:17:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[StockActual]
@codproducto int 
as begin
declare @Stock int;



select @Stock = sum (cantidad) 
from Inventario where codproducto = @codproducto
select @Stock as stockactual;


if @Stock is null or @Stock = 0

raiserror ('No hay stock disponible de este producto', 16,1);
return 
end

GO
